
body{
  background-color:#d2eff7 ;
}
.App {
  text-align: center;
  background-color: #daf0f7;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
}
.img-card{
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}
.question{
  padding: 15px;
  margin: 10px;
  text-align: center;
}
.btn{
  margin-top: 15px;
}
.add-page{
  color: rgba(74, 122, 184, 0.993);
}
.welcome-message{
  font-style: italic;
  color: rgb(40, 40, 148);
}
